body{
    margin: 0;
    background-color: #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
p {
    display: none;
    color: white;
    font-size: 3em;
}
#toggle {
    width: 220px;
    height: 100px;
    appearance: none;
    background-color: rgb(187, 187, 187);
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: .4s;
    position: relative;
}
#toggle:checked {
    background-color: rgb(166, 228, 228);
}
#toggle:before {
    content: '';
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #dfdfdf;
    position: absolute;
    box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
    transform: scale(1.05);
    top: 0;
    left: 0;
    transition: .4s;
}
#toggle:checked::before {
    left: 55%;
}
#toggle:checked + p{
    display: block;
}
#teste{
    color: yellow;
    top: 0;
    left: 0;
    position: fixed;
}
